<mat-dialog-content class="mat-typography">
	<div class="main-content">
		<div class="container-fluid">
			<div class="row">
				<div class="card">
					<div class="card-header card-header-primary">
						<h4 class="card-title">Editar Libro</h4>
						<p class="card-category">
							Llena los siguientes campos...
						</p>
					</div>
					<div class="card-body px-10">
						<form [formGroup]="libroForm">
							<div class="row">
								<div class="col-md-6">
									<mat-form-field>
										<input
											matInput
											placeholder="Titulo"
											formControlName="titulo"
										/>
									</mat-form-field>
								</div>
								<div class="col-md-6">
									<mat-form-field>
										<input
											matInput
											placeholder="Autor"
											formControlName="autor"
										/>
									</mat-form-field>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<mat-form-field>
										<input
											matInput
											placeholder="ISBN"
											formControlName="ISBN"
										/>
									</mat-form-field>
								</div>
								<div class="col-md-4">
									<mat-form-field>
										<input
											matInput
											placeholder="Número Páginas"
											type="number"
											formControlName="numeroPaginas"
										/>
									</mat-form-field>
								</div>
								<div class="col-md-4">
									<mat-form-field>
										<input
											matInput
											placeholder="Editorial"
											formControlName="editorial"
										/>
									</mat-form-field>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<mat-form-field appearance="fill">
										<mat-label
											>Selecciona una fecha</mat-label
										>
										<input
											matInput
											[matDatepicker]="picker"
											formControlName="fechaPublicacion"
										/>
										<mat-datepicker-toggle
											matSuffix
											[for]="picker"
										></mat-datepicker-toggle>
										<mat-datepicker
											#picker
										></mat-datepicker>
									</mat-form-field>
								</div>
							</div>
							<div class="clearfix"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-raised-button mat-dialog-close class="btn pull-right">
		Cancelar
	</button>
	<button
		mat-raised-button
		(click)="onSubmit()"
		class="btn btn-primary pull-right"
	>
		Guardar
	</button>
</mat-dialog-actions>
<div class="progress-spinner" *ngIf="isLoading">
	<mat-spinner></mat-spinner>
</div>
<div class="blocker" *ngIf="isLoading"></div>
